ACTION=="add", SUBSYSTEM=="input", KERNELS=="0005:057E:2006.*", ENV{ID_INPUT_JOYSTICK}=="?*", ENV{ID_INPUT_JOYSTICK}=""
ACTION=="add", KERNELS=="0005:057E:2006.*", KERNEL=="js[0-9]*", RUN+="/bin/rm %E{DEVNAME}", ENV{ID_INPUT_JOYSTICK}=""
